<header class="st-Header">
  <h1 class="st-Header_Title">niconico</h1>
  <ul class="st-Header_ServiceList">
    <li class="st-Header_ServiceItem">
      <a href="https://www.nicovideo.jp/" class="st-Header_ServiceLink"><span class="st-Header_ServiceIcon-niconico">niconico</span></a>
    </li>
    <li class="st-Header_ServiceItem">
      <a href="https://www.nicovideo.jp/video_top/" class="st-Header_ServiceLink">動画</a>
    </li>
    <li class="st-Header_ServiceItem">
      <a href="https://live.nicovideo.jp/" class="st-Header_ServiceLink">生放送</a>
    </li>
  </ul>
</header>
