<table class="tp-Privilege">
  <tr class="tp-Privilege_List">
    <td class="tp-Privilege_Item-empty"></td>
    <td class="tp-Privilege_Item">一般会員</td>
    <td class="tp-Privilege_Item">プレミアム会員</td>
  </tr>
  <tr class="tp-Privilege_List">
    <th class="tp-Privilege_Item">予約なしでのタイムシフト視聴</th>
    <td class="tp-Privilege_Item">
      <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
    </td>
    <td class="tp-Privilege_Item">
      <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
    </td>
  </tr>
  <tr class="tp-Privilege_List">
    <th class="tp-Privilege_Item">タイムシフトの予約件数</th>
    <td class="tp-Privilege_Item">10件</td>
    <td class="tp-Privilege_Item">30件</td>
  </tr>
  <tr class="tp-Privilege_List">
    <th class="tp-Privilege_Item">放送中番組の追っかけ再生</th>
    <td class="tp-Privilege_Item">
      <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
    </td>
    <td class="tp-Privilege_Item">
      <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
    </td>
  </tr>
  <tr class="tp-Privilege_List">
    <th class="tp-Privilege_Item">新市場からのネタ貼り付け</th>
    <td class="tp-Privilege_Item">
      <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
    </td>
    <td class="tp-Privilege_Item">
      <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
    </td>
  </tr>
  <tr class="tp-Privilege_List">
    <th class="tp-Privilege_Item">NG登録件数の増加</th>
    <td class="tp-Privilege_Item">40件</td>
    <td class="tp-Privilege_Item">500件</td>
  </tr>
  <tr class="tp-Privilege_List">
    <th class="tp-Privilege_Item">コメント投稿集中時の優先表示</th>
    <td class="tp-Privilege_Item">
      <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
    </td>
    <td class="tp-Privilege_Item">
      <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
    </td>
  </tr>
</table>
