@charset "UTF-8";

/*-----------------
  Share
-----------------*/

$TwitterIcon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctitle%3Esns-share-icons%3C/title%3E%3Cpath d='M38.145,84.493c30.158,0,46.66-25.009,46.66-46.66,0-.7,0-1.408-.032-2.111a33.409,33.409,0,0,0,8.188-8.507A33.24,33.24,0,0,1,83.526,29.8a16.5,16.5,0,0,0,7.228-9.083,32.621,32.621,0,0,1-10.426,3.96A16.4,16.4,0,0,0,51.961,35.9a18.12,18.12,0,0,0,.415,3.742A46.568,46.568,0,0,1,18.572,22.5,16.465,16.465,0,0,0,23.657,44.41a16.588,16.588,0,0,1-7.42-2.047v.224a16.44,16.44,0,0,0,13.145,16.1,16.5,16.5,0,0,1-7.387.288A16.4,16.4,0,0,0,37.314,70.361,32.892,32.892,0,0,1,16.942,77.4a31.559,31.559,0,0,1-3.9-.224,46.648,46.648,0,0,0,25.105,7.32' style='fill:%23252525'/%3E%3C/svg%3E%0A";
$FacebookIcon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M56.166,87.121V54.159h11.08L68.907,41.3H56.166v-8.2c0-3.734,1.022-6.255,6.388-6.255h6.8V15.35a90.245,90.245,0,0,0-9.928-.511c-9.833,0-16.538,6-16.538,16.977v9.477H31.779V54.155H42.888v33H56.166Z' style='fill:%23252525'/%3E%3C/svg%3E";
$LineIcon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctitle%3Esns-share-icons%3C/title%3E%3Cpath d='M49.791,9.533C25.9,9.533,6.485,25.3,6.485,44.624c0,17.345,15.431,31.941,36.171,34.678,1.41.333,3.318.912,3.816,2.157a10.31,10.31,0,0,1,.166,3.9s-.5,3.07-.581,3.733c-.166,1.079-.832,4.315,3.734,2.323C54.436,89.507,74.68,76.731,83.8,66.278c6.306-6.89,9.291-13.854,9.291-21.653h0C93.1,25.294,73.683,9.533,49.791,9.533ZM34.534,54.994a.832.832,0,0,1-.832.832H21.584a.85.85,0,0,1-.832-.832V36.163a.832.832,0,0,1,.832-.832h3.067a.832.832,0,0,1,.832.832V51.1H33.7l.006,0a.832.832,0,0,1,.832.832Zm7.378-.082a.832.832,0,0,1-.832.832H38.01a.832.832,0,0,1-.832-.832V36.081a.832.832,0,0,1,.832-.832H41a.981.981,0,0,1,.912.912ZM62.563,36.163V54.908a.832.832,0,0,1-.832.832H58.247L58,55.492l-8.621-11.7V55.16a.832.832,0,0,1-.832.832h-3.07a.832.832,0,0,1-.832-.832V36.332a.832.832,0,0,1,.832-.832H49.2l.083.083.083.083L58,47.281v-11.2a.832.832,0,0,1,.832-.832H61.9a.666.666,0,0,1,.663.912ZM79.5,54.994a.832.832,0,0,1-.832.832H66.555a.85.85,0,0,1-.832-.832V36.161a.646.646,0,0,1,.248-.581.753.753,0,0,1,.581-.248H78.661a.832.832,0,0,1,.832.832v2.984a.832.832,0,0,1-.832.832v.083H70.448v3.151h8.213a.832.832,0,0,1,.832.832v3.067a.832.832,0,0,1-.832.832H70.448v3.151h8.224a.832.832,0,0,1,.832.832Z' style='fill:%23252525'/%3E%3C/svg%3E";

.cp-Share {
  position: absolute;
  right: 0;
  top: -48px;
  padding: 8px 32px;
  border-radius: 32px;
  @include mq-down(sp) {
    padding: 8px;
  }
}

.cp-Share_Title {
  display: none;
}

.cp-Share_List {
  display: flex;
  justify-content: center;
}

.cp-Share_Anchor {
  display: flex;
  height: 32px;
  width: 32px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: $mono-color7;
  transition: .2s all ease;
  & + & {
    margin-left: 8px;
  }
  &:hover {
    opacity: .8;
  }
}

.cp-Share_Anchor-twitter {
  @extend .cp-Share_Anchor;
}

.cp-Share_Anchor-facebook {
  @extend .cp-Share_Anchor;
}

.cp-Share_Anchor-line {
  @extend .cp-Share_Anchor;
}

.cp-Share_Icon {
  flex: 1 1 0%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

.cp-Share_Icon-twitter {
  @extend .cp-Share_Icon;
  background-image: url($TwitterIcon);
}

.cp-Share_Icon-facebook {
  @extend .cp-Share_Icon;
  background-image: url($FacebookIcon);
}

.cp-Share_Icon-line {
  @extend .cp-Share_Icon;
  background-image: url($LineIcon);
}
