<div class="pr-Contents">
  <figure class="pr-Contents_Picture">
    <img class="pr-Contents_Image" src="./image/jikken/jikken.png" alt="">
  </figure>
  <div class="pr-Contents_Item">
    <div class="pr-Contents_Title">
      URL
    </div>
    <div class="pr-Contents_Message">
      http://www.nicovideo.jp/
    </div>
  </div>
  <div class="pr-Contents_Title">
    概要
  </div>
  <div class="pr-Contents_Message">
    ニコニコ生放送のための視聴・ライブ配信アプリです。コメントやゲーム、画面を演出するギフトなどの機能を通じて、みんなで楽しく放送ができます。アカウント登録不要でどなたでも配信や視聴ができます。
  </div>
  <div class="pr-Contents_Role">
    Design / HTML / CSS / sketch
  </div>
</div>
