<div class="pr-Contents">
  <figure class="pr-Contents_Picture">
    <!-- <img class="pr-Contents_Image" src="./image/jikken/jikken_logo.png" alt="実験放送"> -->
  </figure>
  <div class="pr-Contents_Item">
    <div class="pr-Contents_Title">
      URL
    </div>
    <div class="pr-Contents_Message">
      <div class="pr-Contents_Catalog">
        http://cas.nicovideo.jp（2019年4月11日 close）
      </div>
    </div>
  </div>
  <div class="pr-Contents_Title">
    概要
  </div>
  <div class="pr-Contents_Message">
    niconico（く）で導入される予定のニコニコ生放送の新しい生放送システム<br>
    「nicocas」のシステムを使った生放送システムで、コミュニティ、部屋といった概念はなく、新たな双方向機能として視聴者みんなで遊べる「ニコ生ゲーム」をはじめとして、様々な「放送ネタ」を提供する機能が追加されました<br>
    nicocasで実装された新規機能に関しては、2019年ニコニコ生放送に統合
  </div>
  <div class="pr-Contents_Role">
    Design / HTML / CSS / sketch
  </div>
</div>
