<div class="pr-Contents">
  <figure class="pr-Contents_Picture">
    <img class="pr-Contents_Image" src="./image/jikken/jikken.png" alt="">
  </figure>
  <div class="pr-Contents_Item">
    <div class="pr-Contents_Title">
      URL
    </div>
    <div class="pr-Contents_Message">
      http://www.nicovideo.jp/
    </div>
  </div>
  <div class="pr-Contents_Title">
    概要
  </div>
  <div class="pr-Contents_Message">
    niconico（く）で導入される予定のニコニコ生放送の新しい生放送システム<br>
    「nicocas」のシステムを使った生放送システムで、コミュニティ、部屋といった概念はなく、ユーザー単体・全部屋共通で放送できる<br>
    実験放送で実装された新規機能に関しては、既存のニコニコ生放送に統合される事になった為、2019年4月11日にクローズ
  </div>
  <div class="pr-Contents_Role">
    Design / HTML / CSS / sketch
  </div>
</div>
