<ul class="pr-Display">
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/jikken/jikken_cap_01.png" alt="視聴ページ">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/jikken/jikken_cap_02.png" alt="トップページ">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/jikken/jikken_cap_03.png" alt="番組作成ページ">
    </figure>
  </li>
</ul>
