<ul class="pr-Display">
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/jikken/jikken_cap_01_s.png" alt="視聴ページ">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/jikken/jikken_cap_02_s.png" alt="トップページ">
    </figure>
  </li>
  <li class="pr-Display_Item-splitMain">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/jikken/ichiba_player.png" alt="プレイヤー">
    </figure>
  </li>
  <li class="pr-Display_Item-splitSub">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/jikken/ichiba_top_s.png" alt="新市場">
    </figure>
  </li>
  <!--
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/jikken/jikken_cap_03_s.png" alt="番組作成ページ">
    </figure>
  </li>
  -->
</ul>
