<ul class="pr-Display">
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas_d_01.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas_d_02.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas_cap_01.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas_cap_02.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas_cap_03.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas_cap_04.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas_cap_05.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas_cap_06.png" alt="">
    </figure>
  </li>
</ul>
