<div class="pr-Heading">
  <h1 class="pr-Heading_Title">JIKKEN</h1>
  <div class="pr-Heading_Number">
    <span class="pr-Heading_Count">02</span>
  </div>
  <p class="pr-Heading_Type">website</p>
</div>
