<!-- ニコニコ生放送 -->
<section class="tp-Product">
  <div class="tp-Product_Outline">
    <div class="tp-Product_Details">
      <h1 class="tp-Product_Title">ニコニコ生放送</h1>
      <p class="tp-Product_Description">リアルタイムで配信される映像を視聴しながら、コメントやアンケートを楽しむことのできるライブストリーミングサービスです</p>
      <ul class="tp-Product_List">
        <li class="tp-Product_Item">
          <a href="./jikken.html" class="sw-ProductBtn-default">
            <span class="sw-ProductBtn_Icon-github"></span>
            <span class="sw-ProductBtn_Text">Detail</span>
          </a>
        </li>
        <li class="tp-Product_Item">
          <a class="sw-ProductBtn-default" href="https://live.nicovideo.jp/" target="_blank">
            <span class="sw-ProductBtn_Icon-magnify"></span>
            <span class="sw-ProductBtn_Text">Page</span>
          </a>
          <a href="https://live.nicovideo.jp/"></a>
          <!-- <div class="sw-ProductBtn-light" disabled>
            <span class="sw-ProductBtn_Icon-magnifyDark"></span>
            <span class="sw-ProductBtn_Text">Page</span>
          </div> -->
        </li>
      </ul>
    </div>
    <figure class="tp-Product_Picture">
      <img class="tp-Product_Image" src="./image/jikken/jikken_s.png" alt="実験放送">
    </figure>
  </div>
</section>

<!-- nicocas -->
<section class="tp-Product-light">
  <div class="tp-Product_Outline">
    <div class="tp-Product_Details">
      <h1 class="tp-Product_Title">nicocas</h1>
      <p class="tp-Product_Description">ニコニコ生放送のための視聴・ライブ配信アプリです。
      コメントやゲーム、画面を演出するギフトなどの機能を通じて、みんなで楽しく放送できます</p>
      <ul class="tp-Product_List">
        <li class="tp-Product_Item">
          <a href="./nicocas.html" class="sw-ProductBtn-default">
            <span class="sw-ProductBtn_Icon-github"></span>
            <span class="sw-ProductBtn_Text">Detail</span>
          </a>
        </li>
        <li class="tp-Product_Item">
          <a class="sw-ProductBtn-default" href="https://apps.apple.com/br/app/nicocas-%E3%83%8B%E3%82%B3%E3%82%AD%E3%83%A3%E3%82%B9/id823479272" target="_blank">
            <span class="sw-ProductBtn_Icon-magnify"></span>
            <span class="sw-ProductBtn_Text">Page</span>
          </a>
        </li>
      </ul>
    </div>
    <figure class="tp-Product_Picture">
      <img class="tp-Product_Image" src="./image/nicocas/nicocas_s.png" alt="nicocas">
    </figure>
  </div>
</section>

<!-- 読書メーター -->
<section class="tp-Product">
  <div class="tp-Product_Outline">
    <div class="tp-Product_Details">
      <h1 class="tp-Product_Title">読書メーター</h1>
      <p class="tp-Product_Description">読んだ本を記録して読書量を管理したり、本を通じたコミュニケーションを楽しむ事が出来るサービスです</p>
      <ul class="tp-Product_List">
        <li class="tp-Product_Item">
          <a href="./bookmeter.html" class="sw-ProductBtn-default">
            <span class="sw-ProductBtn_Icon-github"></span>
            <span class="sw-ProductBtn_Text">Detail</span>
          </a>
        </li>
        <li class="tp-Product_Item">
          <a class="sw-ProductBtn-default" href="https://bookmeter.com/" target="_blank">
            <span class="sw-ProductBtn_Icon-magnify"></span>
            <span class="sw-ProductBtn_Text">Page</span>
          </a>
        </li>
      </ul>
    </div>
    <figure class="tp-Product_Picture">
      <img class="tp-Product_Image" src="./image/bookmeter/bookmeter_s.png" alt="読書メーター">
    </figure>
  </div>
</section>

<!-- 特設ページ -->
<section class="tp-Product-light">
  <div class="tp-Product_Outline">
    <div class="tp-Product_Details">
      <h1 class="tp-Product_Title">特設ページ</h1>
      <p class="tp-Product_Description">2013~2019の間に制作した特設ページになります</p>
      <ul class="tp-Product_List">
        <li class="tp-Product_Item">
          <a href="./special.html" class="sw-ProductBtn-default">
            <span class="sw-ProductBtn_Icon-github"></span>
            <span class="sw-ProductBtn_Text">Detail</span>
          </a>
        </li>
        <!-- <li class="tp-Product_Item">
          <div class="sw-ProductBtn-light" disabled>
            <span class="sw-ProductBtn_Icon-magnify"></span>
            <span class="sw-ProductBtn_Text">Page</span>
          </div>
        </li> -->
      </ul>
    </div>
    <figure class="tp-Product_Picture">
      <img class="tp-Product_Image" src="./image/special/special_s.png" alt="特設ページ">
    </figure>
  </div>
</section>



<!-- 実験放送 -->
<!-- <section class="tp-Product-dark">
  <div class="tp-Product_Outline">
    <div class="tp-Product_Details">
      <h1 class="tp-Product_Title">ニコニコ生放送</h1>
      <p class="tp-Product_Description">リアルタイムで配信される映像を視聴しながら、コメントやアンケートを楽しむことのできるライブストリーミングサービス</p>
      <ul class="tp-Product_List">
        <li class="tp-Product_Item">
          <a href="./jikken.html" class="sw-ProductBtn-light">
            <span class="sw-ProductBtn_Icon-githubDark"></span>
            <span class="sw-ProductBtn_Text">Detail</span>
          </a>
        </li>
        <li class="tp-Product_Item">
          <a class="sw-ProductBtn-light" href="https://live.nicovideo.jp/" target="_blank">
            <span class="sw-ProductBtn_Icon-magnifyDark"></span>
            <span class="sw-ProductBtn_Text">Page</span>
          </a>
          <a href="https://live.nicovideo.jp/"></a>
          <div class="sw-ProductBtn-light" disabled>
            <span class="sw-ProductBtn_Icon-magnifyDark"></span>
            <span class="sw-ProductBtn_Text">Page</span>
          </div>
        </li>
      </ul>
    </div>
    <figure class="tp-Product_Picture">
      <img class="tp-Product_Image" src="./image/jikken/jikken_s.png" alt="実験放送">
    </figure>
  </div>
</section> -->


<!-- 特設ページ -->
<!-- <section class="tp-Product-dark">
  <div class="tp-Product_Outline">
    <div class="tp-Product_Details">
      <h1 class="tp-Product_Title">特設ページ</h1>
      <p class="tp-Product_Description">2013~2019の間に制作した特設ページの一部を紹介</p>
      <ul class="tp-Product_List">
        <li class="tp-Product_Item">
          <a href="./special.html" class="sw-ProductBtn-light">
            <span class="sw-ProductBtn_Icon-githubDark"></span>
            <span class="sw-ProductBtn_Text">Detail</span>
          </a>
        </li>
        <li class="tp-Product_Item">
          <div class="sw-ProductBtn-light" disabled>
            <span class="sw-ProductBtn_Icon-magnifyDark"></span>
            <span class="sw-ProductBtn_Text">Page</span>
          </div>
        </li>
      </ul>
    </div>
    <figure class="tp-Product_Picture">
      <img class="tp-Product_Image" src="./image/special/special_s.png" alt="特設ページ">
    </figure>
  </div>
</section> -->

