<section class="tp-Product">
  <div class="tp-Product_Outline">
    <div class="tp-Product_Details">
      <h1 class="tp-Product_Title">nicocas</h1>
      <p class="tp-Product_Description">2017~2018 web、appデザイン及び実装作業</p>
      <ul class="tp-Product_List">
        <li class="tp-Product_Item">
          <a href="./product_nicocas.html" class="sw-ProductBtn-default">
            <span class="sw-ProductBtn_Icon-github"></span>
            <span class="sw-ProductBtn_Text">github</span>
          </a>
        </li>
        <li class="tp-Product_Item">
          <a href="#" class="sw-ProductBtn-default">
            <span class="sw-ProductBtn_Icon-magnify"></span>
            <span class="sw-ProductBtn_Text">PageURL</span>
          </a>
        </li>
      </ul>
    </div>
    <figure class="tp-Product_Picture">
      <img class="tp-Product_Image" src="./image/product_nicocas.png" alt="nicocas">
    </figure>
  </div>

  <!-- <div class="tp-Contents_Item">
    <a class="tp-Contents_Link" href="./product_nicocas.html">
      <img class="tp-Contents_Image" src="./image/demo_01.jpg" alt="">
    </a>
  </div> -->
</section>


<section class="tp-Product-dark">
  <div class="tp-Product_Outline">
    <div class="tp-Product_Details">
      <h1 class="tp-Product_Title">nicocas</h1>
      <p class="tp-Product_Description">2017~2018 web、appデザイン及び実装作業</p>
      <ul class="tp-Product_List">
        <li class="tp-Product_Item">
          <a href="#" class="sw-ProductBtn-light">
            <span class="sw-ProductBtn_Icon-githubDark"></span>
            <span class="sw-ProductBtn_Text">github</span>
          </a>
        </li>
        <li class="tp-Product_Item">
          <a href="#" class="sw-ProductBtn-light">
            <span class="sw-ProductBtn_Icon-magnifyDark"></span>
            <span class="sw-ProductBtn_Text">PageURL</span>
          </a>
        </li>
      </ul>
    </div>
    <figure class="tp-Product_Picture">
      <img class="tp-Product_Image" src="./image/product_nicocas.png" alt="nicocas">
    </figure>
  </div>
</section>


<section class="tp-Product">
  <div class="tp-Product_Outline">
    <div class="tp-Product_Details">
      <h1 class="tp-Product_Title">nicocas</h1>
      <p class="tp-Product_Description">2017~2018 web、appデザイン及び実装作業</p>
      <ul class="tp-Product_List">
        <li class="tp-Product_Item">
          <a href="#" class="sw-ProductBtn-default">
            <span class="sw-ProductBtn_Icon-github"></span>
            <span class="sw-ProductBtn_Text">github</span>
          </a>
        </li>
        <li class="tp-Product_Item">
          <a href="#" class="sw-ProductBtn-default">
            <span class="sw-ProductBtn_Icon-magnify"></span>
            <span class="sw-ProductBtn_Text">PageURL</span>
          </a>
        </li>
      </ul>
    </div>
    <figure class="tp-Product_Picture">
      <img class="tp-Product_Image" src="./image/product_nicocas.png" alt="nicocas">
    </figure>
  </div>
</section>
