<div class="mv-InnerContent">
  <h1 class="mv-InnerContent_Logo">実験放送</h1>
  <div class="bs-Flow_ButtonBox bs-ButtonBox_Mode-sp mv-InnerContent_Button">
    <a href="https://cas.nicovideo.jp/editstream" class="bs-Flow_Button"><img class="bs-Flow_ButtonText" src="image/mc-flow_button_broadcast.svg" alt="配信する"></a>
    <a href="http://live.nicovideo.jp/recent?tab=nicocas" class="bs-Flow_Button"><img class="bs-Flow_ButtonText" src="image/mc-flow_button_watch.svg" alt="視聴する"></a>
  </div>
</div>
