<%# ニコ生クルーズヘッダー %>
<div class="cp-Header">
  <div class="cp-Header_Inner">
    <h1 class="cp-Header_Title">ニコ生クルーズ - みんなで見つける、あなたの知らないコンテンツ</h1>
    <section class="cp-HeaderInformation">
      <div class="cp-HeaderInformation_Detail">
        <h1 class="cp-HeaderInformation_Title">ニコ生クルーズが新しくなりました</h1>
        <p class="cp-HeaderInformation_Description">
          従来のクルーズ待ちの放送はもちろん、人気の動画を巡回していく番組など、様々なタイプのクルーズ番組が追加されました。
        </p>
      </div>
      <figure class="cp-HeaderInformation_Thumbnail">
          <img class="cp-HeaderInformation_Image" src="./image/page/cruise/information.png" alt="ニコ生クルーズが新しくなりました">
        </figure>
    </section>
  </div>
</div>
