<%# ニコ生クルーズの使い方 %>
<section class="cp-Manual">
  <div class="cp-Manual_Inner">

    <h1 class="cp-Program_Header">ニコ生クルーズの使い方</h1>

    <!-- 生放送クルーズの流れ -->
    <div class="cp-Flow">
      <h2 class="cp-Flow_Header">生放送クルーズの流れ</h2>
      <div class="cp-Flow_List">
        <div class="cp-Flow_Item">
          <figure class="cp-Flow_Thumbnail">
            <img class="cp-Flow_Image" src="./image/page/cruise/live_1.jpg" alt="行き先アンケート">
          </figure>
          <h3 class="cp-Flow_Title">行き先アンケート</h3>
          <p class="cp-Flow_Description">
            どの番組を巡回するか2択のアンケートが表示されます。
            放送者のユーザーアイコンと番組タグで、どちらがいいかを選択します。
            アンケートは多数決で決まります。
          </p>
        </div>
        <div class="cp-Flow_Item">
          <figure class="cp-Flow_Thumbnail">
            <img class="cp-Flow_Image" src="./image/page/cruise/live_2.jpg" alt="番組をクルーズ">
          </figure>
          <h3 class="cp-Flow_Title">番組をクルーズ</h3>
          <p class="cp-Flow_Description">
            巡回した番組を視聴しながら、放送者をフォローすることができます。
            生放送クルーズに投稿されたコメントは巡回先の番組でも表示されるので、放送と関係のないコメントはお控えください。
          </p>
        </div>
        <div class="cp-Flow_Item">
          <figure class="cp-Flow_Thumbnail">
            <img class="cp-Flow_Image" src="./image/page/cruise/live_3.jpg" alt="延長アンケート">
          </figure>
          <h3 class="cp-Flow_Title">延長アンケート</h3>
          <p class="cp-Flow_Description">
            続けて番組を視聴したいかどうかアンケートが表示されます。
            「はい」が過半数の場合、視聴時間が延長されます。
          </p>
        </div>
      </div>
    </div>

    <!-- Nsenの流れ -->
    <div class="cp-Flow">
      <h2 class="cp-Flow_Header">Nsenの流れ</h2>
      <div class="cp-Flow_List">
        <div class="cp-Flow_Item">
          <figure class="cp-Flow_Thumbnail">
            <img class="cp-Flow_Image" src="./image/page/cruise/nsen_1.jpg" alt="動画リクエスト">
          </figure>
          <h3 class="cp-Flow_Title">動画リクエスト</h3>
          <p class="cp-Flow_Description">
            プレーヤー下にあるNsenリクエスタアイコンを選択すると、Nsenで再生したい動画を検索し、リクエストする画面が表示されます。
          </p>
        </div>
        <div class="cp-Flow_Item">
          <figure class="cp-Flow_Thumbnail">
            <img class="cp-Flow_Image" src="./image/page/cruise/nsen_2.jpg" alt="行き先アンケート">
          </figure>
          <h3 class="cp-Flow_Title">行き先アンケート</h3>
          <p class="cp-Flow_Description">
            動画が再生されてしばらく経つと、次にどの動画を再生するかアンケートが表示されます。
            アンケートは多数決で決まります。
          </p>
        </div>
        <div class="cp-Flow_Item">
          <figure class="cp-Flow_Thumbnail">
            <img class="cp-Flow_Image" src="./image/page/cruise/nsen_3.jpg" alt="リクエスト動画の再生">
          </figure>
          <h3 class="cp-Flow_Title">リクエスト動画の再生</h3>
          <p class="cp-Flow_Description">
            動画を視聴しながら投稿者をフォローしたり、動画をとりあえずマイリストに追加することができます。
            Nsenに投稿されたコメントは、再生された動画には表示されません。
          </p>
        </div>
      </div>
    </div>

    <!-- 動画クルーズの流れ -->
    <div class="cp-Flow">
      <h2 class="cp-Flow_Header">動画クルーズの流れ</h2>
      <div class="cp-Flow_List">
        <div class="cp-Flow_Item">
          <figure class="cp-Flow_Thumbnail">
            <img class="cp-Flow_Image" src="./image/page/cruise/movie_1.jpg" alt="巡回動画の再生">
          </figure>
          <h3 class="cp-Flow_Title">巡回動画の再生</h3>
          <p class="cp-Flow_Description">
            動画クルーズは、カテゴリ毎の動画や特定のタグがついた動画を巡回していくクルーズです。
            動画クルーズに投稿されたコメントは、再生された動画には表示されません。
          </p>
        </div>
        <div class="cp-Flow_Item">
          <figure class="cp-Flow_Thumbnail">
            <img class="cp-Flow_Image" src="./image/page/cruise/movie_2.jpg" alt="延長アンケート">
          </figure>
          <h3 class="cp-Flow_Title">延長アンケート</h3>
          <p class="cp-Flow_Description">
            続けて動画を視聴したいかどうかアンケートが表示されます。
            「はい」が過半数の場合、視聴時間が延長されます。
          </p>
        </div>
        <div class="cp-Flow_Item">
          <figure class="cp-Flow_Thumbnail">
            <img class="cp-Flow_Image" src="./image/page/cruise/movie_3.jpg" alt="行き先アンケート">
          </figure>
          <h3 class="cp-Flow_Title">行き先アンケート</h3>
          <p class="cp-Flow_Description">
            次にどの動画を巡回するか2択のアンケートが表示されます。
            動画のサムネイルと、付けられたタグを見て、どちらがいいかを選択します。
            アンケートは多数決で決まります。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
