<div class="ft-Wrapper" data-scoped="ft">
<div class="ft-Wrapper_Inner">
  <%- include('./_sns_share_menu.ejs') %>
  <a href="http://www.nicovideo.jp/"><img class="ft-Logo" src="image/img_ft_logo.svg" alt="niconico"></a>
  <p class="ft-Copy">© DWANGO Co., Ltd.</p>
</div>
</div>
