<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:type" content="website">
<meta property="og:url" content="http://site.nicovideo.jp/nicocas/pc/index.html">
<meta property="og:image" content="http://site.nicovideo.jp/nicocas/pc/image/ogp.png">
<meta property="og:title" content="実験放送 | みんなで作るちょっと未来の生放送">
<meta property="og:site_name" content="実験放送 | みんなで作るちょっと未来の生放送">
<meta property="og:description" content="ニコ生に新機能を追加するための実験放送を行っています。番組に参加して、機能へのご意見やご要望をお寄せください">
<title>実験放送 | みんなで作るちょっと未来の生放送</title>
<meta name="description" content="ニコ生に新機能を追加するための実験放送を行っています。番組に参加して、機能へのご意見やご要望をお寄せください">
<meta name="keywords" content="実験放送,nicocas,ニコキャス,niconico,ニコニコ,ニコニコ動画,ニコニコ生放送,ニコ動,ニコ生">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<link href="image/apple-touch-icon-precompofsed.png" rel="apple-touch-icon-precomposed">
<link rel="icon" type="image/vnd.microsoft.icon" href="image/favicon.ico">
<link rel="stylesheet" href="style/style.css">
