<section class="mv-NicocasPromotion">
  <div class="mv-NicocasPromotion_AppLink">
    <div class="mv-NicocasPromotion_Catch">アプリを使うと視聴・配信がもっと便利に！</div>
    <div class="mv-NicocasPromotion_Logo">nicocas</div>
    <a href="https://itunes.apple.com/jp/app/nicocas/id823479272" class="mv-NicocasPromotion_Badge-appstore" target="_blank">iOS</a>
    <a href="https://play.google.com/store/apps/details?id=jp.co.dwango.nicocas" class="mv-NicocasPromotion_Badge-googleplay" target="_blank">Android</a>
  </div>
</section>
