<!DOCTYPE html>
<% var meta = {
  title: 'mock',
  description: 'mock説明文'
}; %>
<html xml:lang="ja" lang="ja">
<head>
  <%- include('./component/config/_head', meta) %>
</head>
<body>
  <!-- 共通ヘッダー -->
  <%- include('./component/structure/_Header', meta) %>
  <div>あいうえお</div>
</body>
</html>
