<!DOCTYPE html>
<% var meta = {
  title: 'portforio',
  description: 'portforio'
}; %>
<html xml:lang="ja" lang="ja">
<head>
  <%- include('./component/config/_head', meta) %>
</head>
<body>
  <!-- Header -->
  <%- include('./component/structure/_Header', meta) %>
  <main class="st-Main">
    <%- include('./component/pages/top/_Introduction') %>
    <div class="tp-Contents">
      <div class="tp-Contents_Item">
        <img class="tp-Contents_Image" src="./image/demo_01.jpg" alt="">
      </div>
      <div class="tp-Contents_Item">
        <img class="tp-Contents_Image" src="./image/demo_02.jpg" alt="">
      </div>
      <div class="tp-Contents_Item">
        <img class="tp-Contents_Image" src="./image/demo_03.jpg" alt="">
      </div>
      <div class="tp-Contents_Item">
        <img class="tp-Contents_Image" src="./image/demo_04.jpg" alt="">
      </div>
      <div class="tp-Contents_Item">
        <img class="tp-Contents_Image" src="./image/demo_05.jpg" alt="">
      </div>
      <div class="tp-Contents_Item">
        <img class="tp-Contents_Image" src="./image/demo_06.jpg" alt="">
      </div>
    </div>
  </main>
  <!-- Footer -->
  <%- include('./component/structure/_Footer', meta) %>
</body>
</html>
