<div class="pr-Contents">
  <figure class="pr-Contents_Picture">
    <img class="pr-Contents_Image" src="./image/special/special.png" alt="">
  </figure>
  <div class="pr-Contents_Item">
    <div class="pr-Contents_Title">
      URL
    </div>
    <div class="pr-Contents_Message">
      <div class="pr-Contents_Catalog">
        <a class="pr-Contents_Link" href="https://site.nicovideo.jp/nicocas/tsurikkuma/" target="_blank">つりっくま特設</a>
      </div>
      <div class="pr-Contents_Catalog">
        <a class="pr-Contents_Link" href="https://site.live.nicovideo.jp/cruise.html" target="_blank">ニコ生クルーズ特設</a>
      </div>
      <div class="pr-Contents_Catalog">
        <a class="pr-Contents_Link" href="https://www.nicovideo.jp/watch/sm34937967" target="_blank">ニコ生クルーズ動画</a>
      </div>
      <div class="pr-Contents_Catalog">
        <a class="pr-Contents_Link" href="https://nicodocumentary.jp/" target="_blank">ニコニコドキュメンタリー</a>
      </div>
    </div>
  </div>
  <div class="pr-Contents_Title">
    概要
  </div>
  <div class="pr-Contents_Message">
    2016年〜2019年で担当した特設ページの一部を紹介
  </div>
  <div class="pr-Contents_Role">
    Design / HTML / CSS / sketch
  </div>
</div>
