<ul class="pr-Display-split">
  <!-- <li class="pr-Display_Caption">
    <h2 class="pr-Display_Title">
      <p class="pr-Display_TitleText">実験放送特設（close前）</p>
    </h2>
  </li> -->
  <li class="pr-Display_Item-splitMain">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/special/special_cap_06_s.png" alt="つりっくま - PCweb">
    </figure>
  </li>
  <li class="pr-Display_Item-splitSub">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/special/special_cap_07_s.png" alt="つりっくま - SPweb">
    </figure>
  </li>
</ul>
