/*
 * 利用規約の説明
 */

.tp-Rule {
  margin: 40px 16px;
}

.tp-Rule_Headline {
  font-size: 16px;
  color: #525252;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
}

.tp-Rule_Content {
  font-size: 12px;
  color: #525252;
  line-height: 1.4;
  margin-top: 16px;
}
