<section class="tp-Merit">
  <h1 class="tp-Merit_Headline">アプリ利用が便利になるメリット</h1>
  <div class="tp-Merit_Content">
    <!-- 特典一覧 -->
    <table class="tp-Privilege">
      <tr class="tp-Privilege_List">
        <td class="tp-Privilege_Item-empty"></td>
        <td class="tp-Privilege_Item">一般会員</td>
        <td class="tp-Privilege_Item">プレミアム会員</td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">バックグラウンド再生機能</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">レジューム再生機能（続きから再生）※1</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">アプリ内広告の非表示</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">視聴履歴件数の増加</th>
        <td class="tp-Privilege_Item">50件</td>
        <td class="tp-Privilege_Item">200件</td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">コメント履歴の取得期間</th>
        <td class="tp-Privilege_Item">7日前のコメントまで</td>
        <td class="tp-Privilege_Item">90日前のコメントまで</td>
      </tr>
    </table>
    <p class="tp-Privilege_Note">※1 タイムシフト視聴時のレジューム再生は、「履歴」画面からの視聴のみ適用されます</p>
  </div>
</section>

<section class="tp-Merit">
  <h1 class="tp-Merit_Headline">番組視聴でのメリット</h1>
  <div class="tp-Merit_Content">
    <!-- 特典一覧 -->
    <table class="tp-Privilege">
      <tr class="tp-Privilege_List">
        <td class="tp-Privilege_Item-empty"></td>
        <td class="tp-Privilege_Item">一般会員</td>
        <td class="tp-Privilege_Item">プレミアム会員</td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">予約なしでのタイムシフト視聴</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">タイムシフトの予約件数</th>
        <td class="tp-Privilege_Item">10件</td>
        <td class="tp-Privilege_Item">30件</td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">放送中番組の追っかけ再生</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">新市場からのネタ貼り付け</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">NG登録件数の増加</th>
        <td class="tp-Privilege_Item">40件</td>
        <td class="tp-Privilege_Item">500件</td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">コメント投稿集中時の優先表示</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">混雑時の高画質再生</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">選択可能な再生速度の増加</th>
        <td class="tp-Privilege_Item">最大1.25倍速</td>
        <td class="tp-Privilege_Item">最大2.0倍速</td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">コメントカラーの増加</th>
        <td class="tp-Privilege_Item">10色</td>
        <td class="tp-Privilege_Item">20色</td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">コメントコマンドの増加</th>
        <td class="tp-Privilege_Item">1コマンド</td>
        <td class="tp-Privilege_Item">4コマンド</td>
      </tr>
    </table>
  </div>
</section>

<section class="tp-Merit">
  <h1 class="tp-Merit_Headline">番組配信でのメリット</h1>
  <div class="tp-Merit_Content">
    <!-- 特典一覧 -->
    <table class="tp-Privilege">
      <tr class="tp-Privilege_List">
        <td class="tp-Privilege_Item-empty"></td>
        <td class="tp-Privilege_Item">一般会員</td>
        <td class="tp-Privilege_Item">プレミアム会員</td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">利用できる配信画質</th>
        <td class="tp-Privilege_Item">標準画質まで</td>
        <td class="tp-Privilege_Item">高画質まで</td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">配信時間の延長</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">ギフトの受け取り</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">動画や生放送番組の引用</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">マルチカメラ配信</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">映像加工ネタの使用</th>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ng.svg" alt="ng">
        </td>
        <td class="tp-Privilege_Item">
          <img class="tp-Privilege_Icon" src="./merit/img/icon_ok.svg" alt="ok">
        </td>
      </tr>
      <tr class="tp-Privilege_List">
        <th class="tp-Privilege_Item">NG登録件数の増加</th>
        <td class="tp-Privilege_Item">40件</td>
        <td class="tp-Privilege_Item">500件</td>
      </tr>
    </table>
  </div>
</section>