@charset "UTF-8";

// Contents

.pr-Contents {
  display: flex;
  flex-flow: column wrap;
  max-width: 900px;
  margin: 40px auto;
  font-family: "M PLUS 1p";
}

.pr-Contents_Thumbnail {
  display: flex;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}

.pr-Contents_Image {
  width: 100%;
}

.pr-Contents_Title {
  font-size: 24px;
  margin: 40px 0 0;
}

.pr-Contents_Message {
  font-size: 14px;
  margin: 24px 0;
}

.pr-Contents_Link {
  display: flex;
  width: 100%;
  height: 100%;
}


