<!DOCTYPE html>
<html xml:lang="ja" lang="ja">
<head>
  <%- include('./template/_head.ejs') %>
</head>
<body data-scene="opening">
  <div class="bs-Wrapper">
    <div class="bs-Wrapper_Inner">
      <%- include('./template/main_visual/_main_visual.ejs') %>
      <%- include('./template/content/_content.ejs') %>
      <%- include('./template/_footer.ejs') %>
    </div>
  </div>
  <script src="script/jquery-3.2.1.min.js"></script>
  <script src="script/content/script.js"></script>
  <script src="script/main_visual/main_visual.js"></script>
</body>
</html>
