<header class="st-Header">
  <h1 class="st-Header_Title"><%= title %></h1>
  <a class="st-Header_Link" href="./">
    <div class="st-Header_Logo">namikawa</div>
    <div class="st-Header_Description">Portfolio</div>
  </a>
</header>

<!-- <script>
  document.addEventListener("DOMContentLoaded", () => {
    let targetElement = document.querySelector(".st-Header_Logo");
    targetElement.addEventListener("click", () => {
      location.href = "./index.html";
    })
  })
</script> -->
