@charset "UTF-8";

// Contents

.tp-Product {
  // font-family: $product-font-family;
  min-width: $site-width;
  margin: 0;
  padding: 100px 40px;
  background-color: #fff;
  @include mq-down() {
    padding: 0;
    min-width: 100%;
  }
}

.tp-Product_Outline {
  max-width: $site-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq-down() {
    flex-flow: column;
    padding: 32px;
  }
}

.tp-Product_Details {
  flex: 0 0 352px;
  margin-right: 48px;
  @include mq-down() {
    flex: 0 0 auto;
    margin-right: 0;
  }
}

.tp-Product_Title {
  font-size: 36px;
  @include mq-down() {
    font-size: 32px;
    text-align: center;
  }
}

.tp-Product_Description {
  font-size: 15px;
  line-height: 1.4
}

.tp-Product_Picture {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq-down() {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.tp-Product_Image {
  width: 600px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(#000, .1);
  @include mq-down() {
    width: 100%;
  }
}

.tp-Product_List {
  list-style: none;
  margin: 48px 0 0;
  padding: 0;
  display: flex;
  @include mq-down() {
    margin: 32px 0 0;
    justify-content: center;
  }
}

.tp-Product_Item {
  & + & {
    margin-left: 16px;
  }
}



// DarkTeema

.tp-Product-dark {
  @extend .tp-Product;
  color: #fff;
  // background-image: linear-gradient(to right, #140A17 0%, #041e2a 50%, #140A17 100%);
  // background-color: #15202B;
  background-color: #252525;
}

// LightTeema

.tp-Product-light {
  @extend .tp-Product;
  background-color: #f7f7f7;
  // background-color: #2b3137;
}
