<section class="mv-MainVisual" id="main-visual" data-scoped="mv">
  <%- include('./parts/_slideshow.ejs') %>
  <%- include('./parts/_inner_content.ejs') %>
  <div class="mv-MainVisual_MovingDarkCover"></div>
  <div class="mv-MainVisual_MovingLightCover">
    <div class="mv-MainVisual_MovingLightCoverBefore"></div>
    <div class="mv-MainVisual_MovingLightCoverAfter"></div>
  </div>
  <%- include('../_sns_share_menu.ejs') %>
  <%- include('../_nicocas_promotion.ejs') %>
</section>
