<ul class="pr-Display">
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas.png" alt="">
    </figure>
  </li>
  <li class="pr-Display_Item">
    <figure class="pr-Display_Picture">
      <img class="pr-Display_Image" src="./image/nicocas/nicocas.png" alt="">
    </figure>
  </li>
</ul>
