@charset "UTF-8";

// Contents

.pr-Contents {
  // display: flex;
  // flex-flow: column wrap;
  max-width: 900px;
  margin: 40px auto;
}

.pr-Contents_Picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}

.pr-Contents_Image {
  width: 100%;
}

.pr-Contents_Title {
  font-size: 20px;
  margin: 40px 0 0;
  font-weight: bold;
}

.pr-Contents_Role {
  font-size: 14px;
  margin: 12px 0;
  color: $mono-color2;
  line-height: 1;
}

.pr-Contents_Message {
  font-size: 14px;
  line-height: 1.6;
  margin: 12px 0;
}

.pr-Contents_Link {
  text-decoration: none;
  color: $accent-color;
  &:hover {
    text-decoration: underline;
  }
}
