@charset "UTF-8";

// Display

.pr-Display {
  max-width: 900px;
  margin: 80px auto 40px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pr-Display-three {
  @extend .pr-Display;
  & .pr-Display_Item {
    flex: 0 0 calc((100% - 2%) / 3);
  }
  & .pr-Display_Item:nth-of-type(odd) {
    margin-left: 1%;
  }
  & .pr-Display_Item:nth-of-type(3n + 1) {
    margin-left: 0;
  }
}

.pr-Display-split {
  @extend .pr-Display;
}

.pr-Display_Item {
  margin: 4px 0;
  flex: 0 0 49%;
  margin-left: 1%;
  &:nth-of-type(odd) {
    margin-left: 0;
  }
}

.pr-Display_Caption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.pr-Display_Title {
  margin: 0 0 16px;
  padding: 8px 20px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  background-color: $mono-color1;
  color: $mono-color7;
  font-family: "Lato", sans-serif;
}

.pr-Display_TitleLink {
  background-color: $mono-color1;
  color: $mono-color7;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.pr-Display_TitleText {
  margin: 0;
  padding: 0;
  background-color: $mono-color1;
  color: $mono-color7;
}

.pr-Display_Item-splitMain {
  margin: 4px 0;
  flex: 0 0 75%;
}

.pr-Display_Item-splitSub {
  margin: 4px 0;
  flex: 0 0 24%;
  margin-left: 1%;
}

.pr-Display_Picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}

.pr-Display_Image {
  width: 100%;
}
