@charset "UTF-8";

// Gallery

.pr-Gallery {
  max-width: 900px;
  margin: 40px auto;
  overflow: hidden;
}

.pr-Gallery_Container {
  column-count: 3;
  column-gap: 0px;
  margin: -4px;
}

.pr-Gallery_Grid {
  padding: 4px;
  margin: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  color: #e6e6e6;
  font-size: 14px;
  line-height: 1.6;
  // &:nth-of-type(1) {
  //   background-color: gold;
  // }
  // &:nth-of-type(2) {
  //   background-color: purple;
  // }
  // &:nth-of-type(3) {
  //   background-color: blue;
  // }
}

.pr-Gallery_GridItem {
  border-radius: 3px;
  padding: 2px;
  background-color: #222;
}

.pr-Gallery_GridImage {
  display: block;
  width: 100%;
  border-radius: 2px;
}

.pr-Gallery_GridText {
  margin: 4px 8px;
}

@media screen and (max-width: 800px) {
  .pr-Gallery_Container {
    column-count: 2;
  }
}
