@charset "UTF-8";

// Gallery

.pr-Gallery {
  max-width: 900px;
  margin: 40px auto;
  font-family: "M PLUS 1p";
  column-count: 3;
  column-gap: 0;
}

.pr-Gallery_Grid {
  padding: 8px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  background: pink;
  &:nth-of-type(1) {
    background-color: gold;
  }
  &:nth-of-type(2) {
    background-color: purple;
  }
  &:nth-of-type(3) {
    background-color: blue;
  }
}

@media screen and (max-width: 800px) {
  .pr-Gallery {
    column-count: 2;
  }
}
